rect {
    fill: #1762a9;
}
.bin text {
    text-anchor: middle;
    fill: darkgrey;
    font-size: 12px;
    font-family: Poppins;
}


.x-axis-label {
    fill: black;
    font-size: 1.4em;
    text-transform: capitalize;
	font-family: Poppins;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

