.bin rect {
    fill: cornflowerblue;
}
.bin text {
    text-anchor: middle;
    fill: darkgrey;
    font-size: 12px;
    font-family: Poppins;
}

.mean {
    stroke: maroon;
    stroke-dasharray: 2px 4px;
}

.x-axis-label {
    fill: black;
    font-size: 1.4em;
    text-transform: capitalize;
	font-family: Poppins;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

