@charset "UTF-8";



/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 27px;  

    display: flex;
    flex-direction: column;
    height: 100vh;  /* takes the full height of the viewport */

  background-color: #1e1e1e;
  overflow-x: hidden;
  box-sizing: border-box; /* Add this */
}

.sidebar a {
  text-decoration: none;
  font-size: 15px;
  text-align: left;
  color: #fbf6f1;
}

/* Style sidebar links */
.dropdown-btn {
  padding: 25px 20px;
  color: #ababab;
  display: block;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
}

.dropdown-btn-selected {
  padding: 25px 20px;
  color: #ababab;
  display: block;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  text-align: left;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.05);
  border-right: 2px solid #0d6efd;  
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px 2px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px;
  box-sizing: border-box;
}

.user-section {
  padding: 20px ;
  margin-top: auto;
}

.user-info {
  display: flex;
  align-items: center; /* vertically center items in case of varying heights */
  border-top: 0.8px solid #ababab; /* top border */
  padding: 10px 10px; /* vertical and horizontal padding */
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}

.user-name {
  color: #ababab;
  font-weight: bold;
}


.logo {
  padding: 0px 20px;
  display: flex;
  align-items: center; /* vertically align items */
  padding-bottom: 20px;
  border-bottom: 2px white;
}

.logo a {
  /* Removed absolute positioning */
  padding-left: 5px;
  font-size: 24px;
  border-bottom: 2px white;
}

.logo-img {
  max-height: 39px; 
  margin-right: 10px; 
}



/* Style the main content */
.main {
  margin-left: 270px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}


i {
  float: left
}


/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 20px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

body {
  background-color: #121212;
}

.material-icons-outlined {
  vertical-align: middle;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

p {
  font-size: 14px
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


article {
  max-width: 1074px;
  margin: 0 auto;
  padding: 10px;
}


/*Attribution page */
.summary-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.summary-title {
  background-color: #121212;
  border-bottom: 1px solid #ababab;  
  padding: 19px 0px;
  grid-column: 1 / span 3;
  grid-row: 1;
  
}

.summary-grid-text-box-1 {
  background-color: #1e1e1e;
  color: #fbf6f1;  
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px 2px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px;
  text-align: left;
  grid-column: 1;
  grid-row: 2 / span 2 ;
  
}

.attribution-tree-box {
  background-color: #1e1e1e;
  color: #fbf6f1;  
  padding: 30px;
  text-align: left;
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  position: relative; 
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px 2px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.reportResults {
  background-color: #1e1e1e;
  color: #fbf6f1;  
  padding: 30px;
  text-align: left;
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  position: relative; 
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px 2px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px;
}


#runPythonFunction {
  width: 100%; /* adjust this value as per your requirement */
  height: 50px;
  position: relative; /* establishes a positioning context for absolutely positioned children */
  display: flex;
  justify-content: center; /* horizontally centers the text */
  align-items: center; /* vertically centers the text */
}


.spinner-grow {
  position: absolute; /* takes the spinner out of the normal document flow */
  left: 60px; /* positions the spinner towards the left of the button; adjust as needed */
}


#runPythonFunction .spinner-grow, 
#runPythonFunction .loading-text {
    display: none;
}
