<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flametree Attribution</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../styles.css" />
  <!-- Load an icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>    
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <!-- The sidebar -->
  <div class="sidebar">
    <div class="logo">
      <img src="../../flametree-logo.png" alt="Flametree Logo" class="logo-img">
      <h2>Flametree</h2>
    </div>
    <button class="dropdown-btn-selected"><i class="bi bi-diagram-3"></i><span> Attribution models</span></button>
    <button class="dropdown-btn"><i class="bi bi-file-earmark-text"></i><span>Files</span></button>  
    <button class="dropdown-btn"><i class="bi bi-bar-chart-line"></i><span>Reporting</span></button>
    <div class="user-section">
      <div class="user-info">
          <img src="../mugshot.png" alt="User Name" class="user-image">
          <span class="user-name">Andrew Colin ▾</span>
      </div>
  </div>
  </div>
  <!-- End sidebar -->
  
  <div class='main'>    
    <article>
      <div class="summary-grid-container">
        <div class="summary-title">
          <h2>Attribution models</h2>
        </div>                      
        <div class="summary-grid-text-box-1">          
          <p>Carry return analysis</p>  
          <!-- Dropdown for Carry return analysis -->

  <select id="carryReturnAnalysisDropdown" class="form-select">
  <option value="none">None</option>
  <option value="aggregatedCarry">Aggregated carry</option>    
  <option value="runningYieldPullToPar">Running yield/pull-to-par</option>
  <option value="riskFreeCreditCarry">Risk-free carry/credit carry</option>  
</select>
<br>
<p>Risk-free curve analysis</p>  
<select id="riskFreeCurveAnalysisDropdown" class="form-select">
  <option value="none">None</option>
  <option value="aggregatedRiskFree">Aggregated risk-free curve</option>    
  <option value="parallelNonParallel">Parallel/non-parallel</option>
  <option value="shiftTwistCurvature">Shift, twist, curvature</option>  
  <option value="keyRate">Key-rate duration</option>  
  <option value="PCA">Principal component analysis</option>  
  <option value="CCB">Colin-Cubilie-Bardoux</option>    
</select>
<br>
<p>Security-level spread effects</p>
<select id="securityLevelSpreadAnalysisDropdown" class="form-select">
  <option value="none">None</option>
  <option value="zSpread">Z-spread attribution</option>    
  <option value="securitySpecific">Security-specific attribution</option>  
</select>
<br>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Global asset allocation sectors for Brinson Model</label>
  <textarea class="form-control" id="brinsonInput" placeholder="Country, Sector, Industry"rows="2"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Key Rate Durations</label>
  <textarea class="form-control" id="keyRateInput" placeholder="0.25, 0.5, 1, 2"rows="2">0.25, 0.5, 1, 2</textarea>
</div>



<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" value="Convexity return" id="convexityReturn">
  <label class="form-check-label" for="flexSwitchCheckDefault">Convexity return</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" value="Rolldown return" id="rollDownReturn">
  <label class="form-check-label" for="flexSwitchCheckDefault">Rolldown return</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" value="Price return" id="priceReturn">
  <label class="form-check-label" for="flexSwitchCheckDefault">Price return</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" value="Paydown return" id="paydownReturn">
  <label class="form-check-label" for="flexSwitchCheckDefault">Paydown return</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" value="DTS attribution" id="dtsAttribution">
  <label class="form-check-label" for="flexSwitchCheckDefault">DTS attribution</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" value="Interaction" id="interaction">
  <label class="form-check-label" for="flexSwitchCheckDefault">Interaction</label>
</div>
<br><br>
<button id="runPythonFunction" class="btn btn-primary">
  <span class="spinner-grow" role="status" aria-hidden="true"></span>
  <span class="loading-text">Loading...</span>
  <span class="original-text">Run</span>
</button>
<div id="calculationTime"></div>



</div>                  
        <div class="attribution-tree-box">          
          <svg id="treeWrapper"></svg>
          </div>
          <div class="reportResults">          
            <svg id="reportResultsWrapper"></svg>
            </div>
    </article>    
    <script src="../../js/draw-force-tree.js"></script>    

    
    
    
  </div>  
</body>

</html>
