@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Open Sans';
    color: white;
    background-color: black;
}

h1,h2,h3,h4 {
   font-weight: 100;
}

p {
  font-size: 14px
}

#background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.navigation {
  height: 70px;
  background: black;

}

.brand {

  padding-right: 20px;
  float: right;
  line-height: 70px;
  font-size: 1.6em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1074px;
  margin: 0 auto;
}

nav {
  float: left;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: black;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1074px;

  margin: 0 auto;
  padding: 10px;
}

img {
    width: 100%;
  }

  /*LANDING PAGE START */
#title-card {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	position: absolute;
}

.start-button{
	font-size: 20px;
  width: 50%;
	border: 2px solid white;
	display: inline-block;
	padding: 2% 16%;
  margin-bottom: 10px;
	color: black;
	background-color: rgb(255,255,255, 0.9);
	pointer-events: auto;
	-webkit-transition: background-color 0.5s ease-out;
	border-radius: 20px;
	text-align: center;
  font-size: 1em;

}

/*Button*/
.button{
	font-size: 20px;
  width: 60%;
	border: 2px solid white;
	display: inline-block;
	padding: 2% 16%;
  margin-bottom: 10px;
	color: black;
	background-color: rgb(255,255,255, 0.9);
	pointer-events: auto;
	-webkit-transition: background-color 0.5s ease-out;
	border-radius: 20px;
	text-align: left;
  font-size: 1em;

}

.button:hover{
	color: black;
	border: 2px solid white;
	background-color: rgba(255,255,255,0.6);
	cursor: pointer;

}

.button a:hover{
	color: black;
}
/*LANDING PAGE END */

/* CYBER RISK PORTFOLIO SUMMARY START */
.summary-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.summary-title {
  background-color: black;
  border-bottom: 2px solid white;
  padding: 10px;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.summary-grid-text-box {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  grid-column: 1 ;
  grid-row: 2 / span 2;
}

.summary-kpi-1 {
  background-color: #0e0e10;
  border-radius: 30px;
  text-align: center;
  padding: 30px;
  grid-column: 2 / span 2;
  grid-row: 2;
}

.summary-kpi-1-title {
  font-size: 15px;
}

.current-total-exposure {
  font-size: 30px;
}

.currency {
  font-size: 25px;
}

.exposure-change {
  font-size: 12px;
  color: #c6f646;
}

.exposure-change-value {
  display:inline;
}


.exposure-change-time {
  display:inline;
  color: white;

}

.summary-exposure-over-time-chart-title {
  text-align: center;
}

.summary-exposure-over-time {
  background-color: #0e0e10;
  border-radius: 30px;
  padding: 30px;
  grid-column: 2 / span 2;
  grid-row: 3;
}

.y-axis, .x-axis{
  font-size: 12px;
  font-family: 'Open Sans'
}

/* CYBER RISK PORTFOLIO SUMMARY END */

/* PORTFOLIO DRILL-DOWN START */

.drill-down-grid-text-box {
  text-align: centre;
}

.d3-tip {
  background: white;
  padding: 12px;
  border-radius: 2px;
  line-height: 1.2;
  color: black;
}

#selectbox {
  border: 2px solid white;
  width: 20%;
  font-size: 16px;
  text-decoration: none;
  margin: 4px 2px;
  font-family: 'Open Sans';
  border-radius: 10px;
  background-color: rgba(255,255,255,0.8);
  text-align: left;
}

.drill-down-event-agg-loss {
  text-align: center;
  padding: 20px;
}

.drill-down-lec {
  padding: 20px;
  text-align: center;
}

.drill-down-lec-title {
  display:inline;
}

.drill-down-loss-event {
  display:inline;
}

/* PORTFOLIO DRILL-DOWN END */

/* LOSS START */

.grid-container-loss {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.loss-title {
  background-color: black;
  border-bottom: 2px solid white;
  padding: 10px;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.loss-vis-box {

  text-align: left;
  grid-column: 1 / span 3 ;
  grid-row: 3;
}

.loss-button-box {
  grid-column: 1 / span 3;
  grid-row: 2;
  margin-top: 10px;
}

.loss-button{
  display:inline;
  font-size: 20px;
  color: black;
  text-decoration: none;
	padding: 1% 6%;
  margin-bottom: 10px;
	background-color: rgb(255,255,255, 0.9);
	pointer-events: auto;
	text-align: center;
  font-size: 1em;

}

#loss-overlay-total {
  grid-column: 1;
  grid-row: 3;
  margin-top: 20px;
}

.lossLabel {
  font-size: 21px;
  fill: white;
  cursor: default;
}


.costLabel {
  font-size: 16px;
  fill: white;
  cursor: default;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.footer {
  text-align: center;
}



/* LOSS END */
/* MITIGATION ROI START */
.grid-container-roi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.roi-title {
  background-color: black;
  border-bottom: 2px solid white;
  padding: 10px;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.roi-kpi {
  background-color: #0e0e10;
  border-radius: 30px;
  text-align: center;
  padding: 30px;
  grid-column: 2 / span 3;
  grid-row: 2;
}

.roi-grid-text-box {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  grid-column: 1 ;
  grid-row: 2 / span 3;
}

.roi-bars {
  background-color: #0e0e10;
  border-radius: 30px;
  padding: 30px;
  text-align: center;
  grid-column: 2 / span 3;
  grid-row: 3;
}


/* MITIGATION ROI END */

.grid-container-nist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.nist-title {
  background-color: black;
  border-bottom: 2px solid white;
  padding: 10px;
  grid-column: 1 / span 2;
}

.nist-summary {
  background-color: #0e0e10;
  border-radius: 30px;
  padding: 30px;
  grid-column: 1 / span 2;
  grid-row: 2;
}

.identify-box {
  background-color: #0e0e10;
  border-radius: 30px;
  padding: 20px;
  grid-column: 1;
  grid-row: 3 ;
}

.detect-box {
  background-color: #0e0e10;
  border-radius: 30px;
  padding: 20px;
  grid-column: 2 ;
  grid-row: 3 ;
}

.protect-box {
  background-color: #0e0e10;
  border-radius: 30px;
  padding: 20px;
  grid-column: 1 ;
  grid-row: 4 ;
}

.respond-box {
  background-color: #0e0e10;
  border-radius: 30px;
  padding: 30px;
  grid-column: 2;
  grid-row: 4;
}


}



.data-vis-beeswarm {
  background-color: #0e0e10;
  border-radius: 30px;
  padding: 30px;
  grid-column: 2 / span 2 ;
  grid-row: 2 / span 2 ;
}


.kpi-2 {
  background-color: #0e0e10;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  grid-column: 3;
  grid-row: 2;
}





.container {
  max-width: 900px;
  margin: auto;
}


#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}


#beeswarm {
  	border: 2px solid white;
}
